<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I dont`t care</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/product.css" />
    <link rel="icon" type="image/x-icon" href="../img/icon.svg" />
  </head>
  <body>
    <header class="sticky-header">
      <div class="header-container">
        <div class="logo">
          <img
            src="../img/icon.svg"
            style="
              width: 4.5vw;
              min-width: 35px;
              aspect-ratio: 1;
              cursor: pointer;
            "
            onclick="window.location.href = 'index.html'"
          />
        </div>
        <nav class="desktop-nav" style="color: white">
          <ul>
            <li>
              <a onclick="redirectToHomeAndClickButton('#main')">Главная</a>
            </li>
          </ul>
        </nav>
        <button class="burger-btn" aria-label="Меню" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>
    <div class="mobile-menu">
      <button class="close-btn" aria-label="Закрыть меню">
        <span></span>
        <span></span>
      </button>
      <nav>
        <ul>
          <li>
            <a onclick="redirectToHomeAndClickButton('#main')">Главная</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="product-container" style="padding-top: 5vw">
      <div class="product-gallery">
        <div class="carousel">
          <div class="carousel-inner" id="carouselInner">
            <!-- Карусель будет заполнена скриптом -->
          </div>
          <button class="carousel-control prev">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="carousel-control next">
            <i class="fas fa-chevron-right"></i>
          </button>
          <div class="carousel-indicators" id="carouselIndicators"></div>
        </div>
      </div>

      <div class="product-details" id="productDetails">
        <!-- Данные о товаре будут заполнены скриптом -->
      </div>
    </div>

    <div class="copied-message">Артикул скопирован!</div>

    <script src="../scripts/product.js"></script>
  </body>
</html>
